[submodule "Drivers/STM32F7xx_HAL_Driver"]
	path = Drivers/STM32F7xx_HAL_Driver
	url = https://github.com/STMicroelectronics/stm32f7xx_hal_driver.git
[submodule "Drivers/CMSIS/Device/ST/STM32F7xx"]
	path = Drivers/CMSIS/Device/ST/STM32F7xx
	url = https://github.com/STMicroelectronics/cmsis_device_f7.git
[submodule "Middlewares/Third_Party/FreeRTOS/FreeRTOS-Kernel"]
	path = Middlewares/Third_Party/FreeRTOS/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
