[submodule "Drivers/STM32F7xx_HAL_Driver"]
	path = Drivers/STM32F7xx_HAL_Driver
	url = https://github.com/STMicroelectronics/stm32f7xx_hal_driver.git
[submodule "Drivers/CMSIS/Device/ST/STM32F7xx"]
	path = Drivers/CMSIS/Device/ST/STM32F7xx
	url = https://github.com/STMicroelectronics/cmsis_device_f7.git
[submodule "Middlewares/Third_Party/FreeRTOS/FreeRTOS-Kernel"]
	path = Middlewares/Third_Party/FreeRTOS/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
	fetchRecurseSubmodules = false
[submodule "Middlewares/Third_Party/FreeRTOS/coreMQTT-Agent"]
	path = Middlewares/Third_Party/FreeRTOS/coreMQTT-Agent
	url = https://github.com/FreeRTOS/coreMQTT-Agent.git
	fetchRecurseSubmodules = false
[submodule "Middlewares/Third_Party/FreeRTOS/coreJSON"]
	path = Middlewares/Third_Party/FreeRTOS/coreJSON
	url = https://github.com/FreeRTOS/coreJSON.git
	fetchRecurseSubmodules = false
[submodule "Middlewares/Third_Party/FreeRTOS/coreHTTP"]
	path = Middlewares/Third_Party/FreeRTOS/coreHTTP
	url = https://github.com/FreeRTOS/coreHTTP.git
	fetchRecurseSubmodules = false
[submodule "Middlewares/Third_Party/FreeRTOS/corePKCS11"]
	path = Middlewares/Third_Party/FreeRTOS/corePKCS11
	url = https://github.com/FreeRTOS/corePKCS11.git
	fetchRecurseSubmodules = false
