[submodule "Drivers/STM32F7xx_HAL_Driver"]
	path = Drivers/STM32F7xx_HAL_Driver
	url = https://github.com/STMicroelectronics/stm32f7xx_hal_driver.git
[submodule "Drivers/CMSIS/Device/ST/STM32F7xx"]
	path = Drivers/CMSIS/Device/ST/STM32F7xx
	url = https://github.com/STMicroelectronics/cmsis_device_f7.git
[submodule "Middlewares/Third_Party/FreeRTOS/FreeRTOS-Kernel"]
	path = Middlewares/Third_Party/FreeRTOS/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
	fetchRecurseSubmodules = false
[submodule "Middlewares/Third_Party/FreeRTOS/coreMQTT-Agent"]
	path = Middlewares/Third_Party/FreeRTOS/coreMQTT-Agent
	url = https://github.com/FreeRTOS/coreMQTT-Agent.git
	fetchRecurseSubmodules = false
[submodule "Middlewares/Third_Party/FreeRTOS/coreJSON"]
	path = Middlewares/Third_Party/FreeRTOS/coreJSON
	url = https://github.com/FreeRTOS/coreJSON.git
	fetchRecurseSubmodules = false
[submodule "Middlewares/Third_Party/FreeRTOS/coreHTTP"]
	path = Middlewares/Third_Party/FreeRTOS/coreHTTP
	url = https://github.com/FreeRTOS/coreHTTP.git
	fetchRecurseSubmodules = false
[submodule "Middlewares/Third_Party/FreeRTOS/corePKCS11"]
	path = Middlewares/Third_Party/FreeRTOS/corePKCS11
	url = https://github.com/FreeRTOS/corePKCS11.git
	fetchRecurseSubmodules = false
[submodule "Middlewares/Third_Party/ARM/mbedtls"]
	path = Middlewares/Third_Party/ARM/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
	fetchRecurseSubmodules = false
[submodule "Middlewares/Third_Party/AWS/IoTDeviceDefender"]
	path = Middlewares/Third_Party/AWS/IoTDeviceDefender
	url = https://github.com/aws/Device-Defender-for-AWS-IoT-embedded-sdk.git
	fetchRecurseSubmodules = false
[submodule "Middlewares/Third_Party/AWS/DeviceShadow"]
	path = Middlewares/Third_Party/AWS/DeviceShadow
	url = https://github.com/aws/Device-Shadow-for-AWS-IoT-embedded-sdk.git
	fetchRecurseSubmodules = false
[submodule "Middlewares/Third_Party/FreeRTOS/backoffAlgorithm"]
	path = Middlewares/Third_Party/FreeRTOS/backoffAlgorithm
	url = https://github.com/FreeRTOS/backoffAlgorithm.git
	fetchRecurseSubmodules = false
[submodule "Middlewares/Third_Party/AWS/IoTJobs"]
	path = Middlewares/Third_Party/AWS/IoTJobs
	url = https://github.com/aws/Jobs-for-AWS-IoT-embedded-sdk.git
	fetchRecurseSubmodules = false
[submodule "Middlewares/Third_Party/AWS/OTA"]
	path = Middlewares/Third_Party/AWS/OTA
	url = https://github.com/aws/ota-for-aws-iot-embedded-sdk.git
	fetchRecurseSubmodules = false
[submodule "Middlewares/Third_Party/lwip"]
	path = Middlewares/Third_Party/lwip
	url = https://github.com/lwip-tcpip/lwip.git
[submodule "Middlewares/Third_Party/ARM/littlefs"]
	path = Middlewares/Third_Party/ARM/littlefs
	url = https://github.com/littlefs-project/littlefs.git
[submodule "Middlewares/Third_Party/tinycbor"]
	path = Middlewares/Third_Party/tinycbor
	url = https://github.com/intel/tinycbor.git
[submodule "Middlewares/Third_Party/http-parser"]
	path = Middlewares/Third_Party/http-parser
	url = https://github.com/nodejs/http-parser.git
[submodule "Middlewares/Third_Party/FreeRTOS/coreMQTT"]
	path = Middlewares/Third_Party/FreeRTOS/coreMQTT
	url = https://github.com/FreeRTOS/coreMQTT.git
